$red: #E7442E;
$white: #fff;
$black: #000;
$teal: #00a087;
$dark-grey: #545149;
$light-grey: #D0D0D0;

$header-color: #264953;
$header-color-light: #657E85;
$error-border: #F6DAD0;
$error-background: #FBF4F1;
$background-grey: #eee;
$button-color: #E8FDFE;

$border-radius-sm: 5px;
$border-radius-lg: 10px;