#new-tweet {
  display: none;
  padding: 15px;
  border: 1px solid $light-grey;
  border-radius: $border-radius-lg;
  background-color: $background-grey;
  textarea {
    margin-top: 25px;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
  }
  h2 {
    color: $header-color;
    margin: 0;
  }
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
