/* .content-container  */
.post {
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 25px;
}
.post:hover {
  border: 1px solid #656565;
}

.post > * {
  padding: 15px;
}

.post header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post h3 {
  margin-left: 10px;
  color: #657E85;
}

.post:hover h3 {
  color: #264953;
}

.post .avatar {
  width: 80px;
  height: 80px;
  opacity: 0.8;
}
.post:hover .avatar {
  opacity: 1;
}

.post-content {
  padding: 40px 15px;
}

.post header .handle {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post footer {
  border-top: 1px solid #D0D0D0;
  font-size: 0.7em;
}